  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">VIPERdev</h5>
          <p class="grey-text text-lighten-4">VIPERdev is a startup which helps founders to launch their product really fast!</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Us</h5>
          <ul>
            <li><a class="white-text" href="https://viperdev.io/">VIPERdev</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Legal</h5>
          <ul>
            <li><a class="white-text" href="https://viperdev.io/imprint/">Imprint</a></li>
            <li><a class="white-text" href="https://viperdev.io/privacy/">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
